---
import { Container } from '@littlesticks/odyssey-theme-components';
---

<Container>
	<div class="container my-6 px-6 mx-auto">
		<!-- Section: Design Block -->
		<section class=" text-gray-800 text-center md:text-left">
			<h1 class="text-3xl font-bold mb-12 text-center">Image Gallery</h1>

			<div class="grid md:grid-cols-2 gap-x-6 xl:gap-x-12 items-center mb-12">
				<div class="mb-6 md:mb-0">
					<div
						class="relative overflow-hidden bg-no-repeat bg-cover ripple shadow-lg rounded-lg"
						data-mdb-ripple="true"
						data-mdb-ripple-color="light"
					>
						<img
							src="/assets/images/gallery/gallery-food.webp"
							alt="gallery food image"
							class="w-full"
						/>
						<a href="/gallery/food" aria-label="food gallery">
							<div
								class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 hover:opacity-100 transition duration-300 ease-in-out"
								style="background-color: rgba(251, 251, 251, 0.2)"
							>
							</div>
						</a>
					</div>
				</div>

				<div class="mb-6 md:mb-0">
					<h2 class="text-2xl font-bold mb-3">Food</h2>
					<div
						class="mb-3 text-blue-600 font-medium text-sm flex items-center justify-center md:justify-start"
					>
						<svg
							class="w-4 h-4 mr-2"
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 384 512"
						>
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
								><path
									d="M18 11v7a2 2 0 0 1-4 0v-5h-2V3a3 3 0 0 1 3-3h3v11zM4 10a2 2 0 0 1-2-2V1a1 1 0 0 1 2 0v4h1V1a1 1 0 0 1 2 0v4h1V1a1 1 0 0 1 2 0v7a2 2 0 0 1-2 2v8a2 2 0 0 1-4 0v-8z"
									fill="#1f6be4"></path>
							</svg></svg
						>Our Dishes
					</div>
					<p class="text-gray-500">
						Our dishes are made with fresh ingredients and are prepared with
						care. A wide variety of dishes are available including traditional
						Croatian dishes. We also offer a wide range of drinks including
						vines, coffee, tea, juice, and soft drinks.
					</p>
				</div>
			</div>

			<div class="grid md:grid-cols-2 gap-x-6 xl:gap-x-12 items-center mb-12">
				<div class="mb-6 md:mb-0 md:order-2">
					<div
						class="relative overflow-hidden bg-no-repeat bg-cover ripple shadow-lg rounded-lg"
						data-mdb-ripple="true"
						data-mdb-ripple-color="light"
					>
						<img
							src="/assets/images/gallery/gallery-interior.webp"
							alt="gallery exterior image"
							class="w-full"
						/>
						<a href="/gallery/interior" aria-label="interior gallery">
							<div
								class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 hover:opacity-100 transition duration-300 ease-in-out"
								style="background-color: rgba(251, 251, 251, 0.2)"
							>
							</div>
						</a>
					</div>
				</div>

				<div class="mb-6 md:mb-0 md:order-1">
					<h2 class="text-2xl font-bold mb-3">Interior</h2>
					<div
						class="mb-3 text-red-600 font-medium text-sm flex items-center justify-center md:justify-start"
					>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							width="16"
							height="16"
							fill="currentColor"
							class="w-4 h-4 mr-2 bi bi-house-fill"
							viewBox="0 0 16 16"
						>
							<path
								fill-rule="evenodd"
								d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"
								fill="#d03c2e"></path>
							<path
								fill-rule="evenodd"
								d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"
								fill="#d03c2e"></path></svg
						>Our Restaurant
					</div>
					<p class="text-gray-500">
						There is plenty of space for you to relax and enjoy the beautiful
						surroundings. The interior of our restaurant is decorated with
						beautiful furniture and is fully equipped with all the necessary
						equipment.
					</p>
				</div>
			</div>

			<div class="grid md:grid-cols-2 gap-x-6 xl:gap-x-12 items-center mb-12">
				<div class="mb-6 md:mb-0">
					<div
						class="relative overflow-hidden bg-no-repeat bg-cover ripple shadow-lg rounded-lg"
						data-mdb-ripple="true"
						data-mdb-ripple-color="light"
					>
						<img
							src="/assets/images/gallery/gallery-exterior.webp"
							alt="gallery exterior image"
							class="w-full"
						/>
						<a href="/gallery/exterior" aria-label="food gallery">
							<div
								class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 hover:opacity-100 transition duration-300 ease-in-out"
								style="background-color: rgba(251, 251, 251, 0.2)"
							>
							</div>
						</a>
					</div>
				</div>

				<div class="mb-6 md:mb-0">
					<h2 class="text-2xl font-bold mb-3">Outside</h2>
					<div
						class="mb-3 text-yellow-500 font-medium text-sm flex items-center justify-center md:justify-start"
					>
						<svg
							class="w-4 h-4 mr-2"
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 512 512"
						>
							<path
								fill="currentColor"
								d="M256 160c-52.9 0-96 43.1-96 96s43.1 96 96 96 96-43.1 96-96-43.1-96-96-96zm246.4 80.5l-94.7-47.3 33.5-100.4c4.5-13.6-8.4-26.5-21.9-21.9l-100.4 33.5-47.4-94.8c-6.4-12.8-24.6-12.8-31 0l-47.3 94.7L92.7 70.8c-13.6-4.5-26.5 8.4-21.9 21.9l33.5 100.4-94.7 47.4c-12.8 6.4-12.8 24.6 0 31l94.7 47.3-33.5 100.5c-4.5 13.6 8.4 26.5 21.9 21.9l100.4-33.5 47.3 94.7c6.4 12.8 24.6 12.8 31 0l47.3-94.7 100.4 33.5c13.6 4.5 26.5-8.4 21.9-21.9l-33.5-100.4 94.7-47.3c13-6.5 13-24.7.2-31.1zm-155.9 106c-49.9 49.9-131.1 49.9-181 0-49.9-49.9-49.9-131.1 0-181 49.9-49.9 131.1-49.9 181 0 49.9 49.9 49.9 131.1 0 181z"
							></path>
						</svg>Relaxing Environments
					</div>
					<p class="text-gray-500">
						The environment is very relaxing and the restaurant is surrounded by
						nature. Nearby is the old Church of the Nativity of the Blessed
						Virgin Mary including beautiful gardens and beaches with activities.
					</p>
				</div>
			</div>
		</section>
		<hr class="solid mb-12" />
	</div>
</Container>
